# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.scam':
  'Method documentation':
    'prefix': 'doc'
    'body': '@@ ${1:method} - ${2:description}'
  'if':
    'prefix': 'if'
    'body': 'if (${1:#t}) \n\t$2 \n\t$3 \n'
  'cond':
    'prefix': 'cond'
    'body': 'cond \n\t((${1:#t}) \n\t\t$2 \n\t) \n\t(else \n\t\t$3 \n\t)\n'
  'lambda':
    'prefix': 'lambda'
    'body': 'lambda (${1:params}) \n\t${2:body}\n'
  'lambda execute':
    'prefix': '((lambda'
    'body': '(lambda (${1:params}) \n\t${2:body}\n)'
  'define':
    'prefix': 'define'
    'body': 'define ${1:name} \n\t${2:value}\n'
