'scopeName': 'source.scam'
'name': 'SCAM'
'fileTypes': ['SCM']
'patterns': [
  {
    'match': '\\b(println|true\\?) '
    'name': 'keyword'
  },
  {
    'match': '\\b(if)'
    'name': 'keyword.control'
  },
  {
    'match': '\\b(define|(set\!))'
    'name': 'storage'
  },
  {
    'match': '(\\(|\\))'
    'name': 'entity.name.tag'
  },
  {
    'match': '(\\".*\\")'
    'name': 'string'
  },
  {
    'match':'(?<=define \\()(\\w|\\d|[-])*'
    'name':'entity.name.function'
  }
  {
    'begin': '(?<=define \\()(\\w|\\d|[-])*'
    'end': '\\)'
    'patterns':[
      {
        'name':'variable.parameter'
        'match': '[a-zA-Z0-9?#]+'
      }
    ]
  },
  {
    'match': '((;@).*)'
    'name': 'comment'
  },
  {
    'match': '(?<=\\()[+]'
    'name': 'keyword.operator'
  }
]
