'scopeName': 'source.scam'
'name': 'SCAM'
'fileTypes': ['SCM']
'patterns': [
  {
    'match': '\\b(println|true\\?|error\\?|print|inspect|length) '
    'name': 'support.function'
  },
  {
    'match': '(?<=\\()(if|and|or|\\<|\\||\\=|\\=\\=|\\<\\=) '
    'name': 'keyword.control'
  },
  {
    'match': '\\b(define|(set\!)|list)'
    'name': 'storage'
  },
  {
    'match': '(\\(|\\))'
    'name': 'entity.name.tag'
  },
  {
    'match': '(\\".*\\")'
    'name': 'string'
  },
  {
    'match':'(?<=define \\()(\\w|\\d|[-])*'
    'name':'entity.name.function'
  }
  {
    'begin': '(?<=define \\()(\\w|\\d|[-])*'
    'end': '\\)'
    'patterns':[
      {
        'name':'variable.parameter'
        'match': '[a-zA-Z0-9?#]+'
      }
    ]
  },
  {
    'match': '((;@).*)'
    'name': 'comment'
  },
  {
    'begin': '(;{).*'
    'end': ';}'
    'name':'comment.block'
  },
  {
    'match': '(?<=\\()[\\+\\-\\*]'
    'name': 'keyword.operator.scam'
  },
  {
    'comment bad operation'
    'match': '(\\w|\\d|[\\$\\#])+ [\\+|\\-|\\*] (\\w|\\d|[\\$\\#])+'
    'name': 'invalid.illegal'
  }
]
